<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>507135787802-mhhmec6053v8a0odg6ojmqnaso50hfgo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.507135787802-mhhmec6053v8a0odg6ojmqnaso50hfgo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>507135787802-3uvg6qv2his2l5062mo8mb1ap81jdv3o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD5Jagfi9uJ3AjEcDGThj4cdr8L6eVmpBE</string>
	<key>GCM_SENDER_ID</key>
	<string>507135787802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.create11</string>
	<key>PROJECT_ID</key>
	<string>create11-769d3</string>
	<key>STORAGE_BUCKET</key>
	<string>create11-769d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:507135787802:ios:dad11b240f6e92e703a2a3</string>
</dict>
</plist>